* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #000430;
  --secondaryBackground: #171c48;
  --text: #fff;
  --purple: #828dff;
  --teal: #24feee;
}

body {
  background-color: var(--background);
  color: var(--text);
  font-family: 'Poppins', sans-serif;
}

.container {
  max-width: 500px;
  margin: 120px auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stats-container {
  width: 100%;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  border: 2px solid var(--purple);
  border-radius: 20px;
  background-color: var(--secondaryBackground);
}

.details {
  flex: 1;
}

#progressBar {
  width: 300px;
  height: 10px;
  background-color: var(--background);
  border-radius: 5px;
  margin-top: 20px;
}

#progress {
  width: 0%;
  height: 100%;
  background-color: var(--teal);
  border-radius: 50px;
  transition: all 0.3s ease;
}

#numbers {
  width: 100px;
  height: 100px;
  background-color: var(--purple);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
}

form {
  margin-top: 60px;
  width: 100%;
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  padding: 16px;
  background: var(--secondaryBackground);
  border: 1px solid var(--purple);
  border-radius: 10px;
  color: var(--text);
  font-size: 16px;
  outline: none;
}

button {
  width: 50px;
  height: 50px;
  background-color: var(--purple);
  color: var(--text);
  font-size: 30px;
  font-weight: bold;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#task-list {
  margin-top: 30px;
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.taskItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondaryBackground);
  padding: 10px;
  border-radius: 10px;
}

.task {
  display: flex;
  align-items: center;
  gap: 10px;
}

.task input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

.completed p {
  text-decoration: line-through;
  color: var(--teal);
}

.taskItem img {
  width: 24px;
  height: 24px;
  margin: 0 10px;
  cursor: pointer;
}
